<web-app
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  version="2.4">
  <display-name>Data Transfer (Prototype) Service</display-name>

  <servlet>
    <servlet-name>dts</servlet-name>
    <servlet-class>
      org.springframework.ws.transport.http.MessageDispatcherServlet
    </servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:/org/dataminx/dts/ws/application-context.xml classpath:/org/dataminx/dts/ws/dts-servlet.xml classpath:/org/dataminx/dts/ws/domain-context.xml classpath:/org/dataminx/dts/ws/activemq/jms-context.xml classpath:/org/dataminx/dts/ws/integration-context.xml</param-value>
    </init-param>

  </servlet>

  <servlet-mapping>
    <servlet-name>dts</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>