# provide the myproxy details here if you are using the myproxy to authenticate to the service
auth.username=test
auth.password=test

# here's the myproxy details used by the test DTS Job (ws-minx-dts.xml)
myproxy.username=changeme
myproxy.password=ch@ng3w3

ftp.username=changeme
ftp.password=ch@ng3w3

srb.username=changeme
srb.password=ch@ng3w3

irods.username=changeme
irods.password=ch@ng3w3